<template>
  <ListView for="item in data" height="100%">
    <v-template>
      <ListItem :avatar="item.avatar_url" :name="item.name" :bio="item.bio" />
    </v-template>
  </ListView>
</template>

<script>
import ListItem from "./ListItem";
export default {
  components: {
    ListItem
  },
  props: {
    data: Array
  }
};
</script>
