<template>
  <FlexboxLayout flexDirection="column" alignItems="center" class="list-item">
    <Image class="list-item__image" :src="avatar" />
    <Label class="list-item__name" :text="name" />
    <Label class="list-item__description" :text="bio" textWrap="" />
    <Button class="list-item__btn">Visitar perfil</Button>
  </FlexboxLayout>
</template>

<script>
export default {
  props: ["avatar", "name", "bio"]
};
</script>

<style lang="scss" scoped>
.list-item {
  &__image {
    width: 50;
    height: 50;
  }

  &__btn {
    font-size: 12;
    margin: 0;
    padding: 0 5;
  }
}
</style>
