<template>
  <Page>
    <ActionBar>
      <Label text="Users" />
    </ActionBar>

    <StackLayout>
      <Form @save="loadUsers" />
      <List :data="data" />
    </StackLayout>
  </Page>
</template>

<script>
import Form from "@/components/Form";
import List from "@/components/List";
import API from "@/utils/api";

export default {
  data() {
    return {
      data: []
    };
  },
  components: {
    Form,
    List
  },
  methods: {
    async loadUsers(user) {
      //this.$store.dispatch("loadUsers", user);
      //   const { data } = await API.get(`/users/${user}`);
      //   console.log(data);
      //   const allUsers = this.data;
      //   allUsers.push(data);

      //   this.data = allUsers;
    }
  }
};
</script>

<style lang="sass" scope></style>
